@import url("observablehq:default.css");
@import url("observablehq:theme-air.css");

:root {
  --sans-serif: "neue-haas-grotesk-display", sans-serif;
  --serif: merriweather, serif;
  --semafor-blau:#577af7;
  --semafor-verd:#7aa047;
  --semafor-groc:#f7d05d;
  --semafor-taronja:#ef8733;
  --semafor-rosa:#f09793;
  --semafor-vermell:#b02418;
  --dashboard-foreground: #000;
  --dashboard-foreground-muted: #606060;
  --dashboard-background: #f2f2f2;
  --dashboard-background-alt: #fff;

  --theme-background: #f2f2f2;
  --theme-background-alt: #eaeaea;
  --theme-foreground-muted: #767676;
  --theme-background-faint: #dcdcdc;
  --theme-foreground-focus: #3f62aa;
  --theme-foreground-cards: #C0C6CD;

  /* 
  --theme-background: #f3f3f3;
  --theme-background-alt: #f3f3f3;
  --theme-foreground-alt: #007EBB;
  --theme-foreground-muted: #505050;
  --theme-foreground-faint: #f3f3f3;
  --theme-foreground-fainter: #f3f3f3;
  --theme-foreground-faintest: #f3f3f3;
  --theme-foreground-focus: #f3f3f3; */
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--sans-serif);
  font-weight: 600;
}

main h2 {
  font-style: normal;
  font-weight: 500;
  color: var(--dashboard-foreground-muted);
}

.card {
  background-color: var(--dashboard-background-alt);;
}

.card h1, .card h2 { font-weight: 600;}
.card h3, li, label { font-weight: 500;}

.card h1 { font-size: 1.5rem;}
.card h2 { 
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--dashboard-foreground);
}
.card h3 { font-size: 1rem;}
.card h4 { font-size: .85rem;}

.grafic { padding-top: 1rem;}

#observablehq-main, #observablehq-header, #observablehq-footer {
  max-width: none;
}

.notes {
  font-family: var(--sans-serif);
  font-size: .85rem;
  color: var(--dashboard-foreground-muted);
  padding-top:2rem;
}

.legend {
  display: inline-block;
  width: 1rem;
  margin: 0 .3rem .25rem 1rem;
}
.daily { border-top: 1.5px #BDBDBD solid; }
.monthly { border-top: 3.2px #4f82de solid; }
.yearly { border-top: 1.5px #000 dashed; }

.halo {
  -webkit-font-smoothing: antialiased;
  text-shadow:
  .5px .5px .5px #fff,
  -.5px -.5px .5px #fff,  
  .5px -.5px .5px #fff,
  -.5px .5px .5px #fff,
  .5px .5px .5px #fff,
  .5px .5px 1px #fff,
  -.5px -.5px 1px #fff,  
  .5px -.5px 1px #fff,
  -.5px .5px 1px #fff,
  .5px .5px 1px #fff,
  .5px .5px 3px #ffffff33,
  -.5px -.5px 3px #ffffff33,  
  .5px -.5px 3px #ffffff33,
  -.5px .5px 3px #ffffff33,
  .5px .5px 3px #ffffff33;
}

#observablehq-footer nav a {
  background-color: var(--dashboard-background-alt);
  border: none;
  box-shadow: 0 0 .5rem rgba(0,0,0,0.1)
}

#observablehq-sidebar {
  padding: 0 8px 16px 8px;
  visibility: hidden;
}

#observablehq-search-results {
  width: 100%;
  left: 0;
}